@model IEnumerable<ClickHealth.Dashboard.Models.Paciente>

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Condições Médicas</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var paciente in Model)
        {
            <tr>
                <td>@paciente.DadosPessoais</td>
                <td>@paciente.CondicoesMedicas</td>
                <td>
                    <a asp-controller="Paciente" asp-action="Editar" asp-route-id="@paciente.IdPaciente" class="btn btn-primary">
                        Gerenciar
                    </a>
                    <a asp-controller="Paciente" asp-action="Excluir" asp-route-id="@paciente.IdPaciente" class="btn btn-danger">
                        Excluir
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>